practice

In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('results.csv')

In [4]:
df

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
43183,2/1/22,Suriname,Guyana,2,1,Friendly,Paramaribo,Suriname,False
43184,2/2/22,Burkina Faso,Senegal,1,3,African Cup of Nations,Yaoundé,Cameroon,True
43185,2/3/22,Cameroon,Egypt,0,0,African Cup of Nations,Yaoundé,Cameroon,False
43186,2/5/22,Cameroon,Burkina Faso,3,3,African Cup of Nations,Yaoundé,Cameroon,False
43187,2/6/22,Senegal,Egypt,0,0,African Cup of Nations,Yaoundé,Cameroon,True

In [5]:
x=df['home_score']-df['away_score']

In [6]:
x

0        0
1        2
2        1
3        0
4        3
        ..
43183    1
43184   -2
43185    0
43186    0
43187    0
Length: 43188, dtype: int64

In [7]:
conditions=[(x<0),(x>0),(x==0)]
values=['lose', 'win', 'draw']

In [8]:
import numpy as np

In [9]:
df['reault_home']=np.select(conditions,values)

In [10]:
df['reault_home']

0        draw
1         win
2         win
3        draw
4         win
         ...
43183     win
43184    lose
43185    draw
43186    draw
43187    draw
Name: reault_home, Length: 43188, dtype: object

In [37]:
x=df['reault_home'].value_counts()

In [15]:
df['reault_home'].value_counts(normalize=True)

win     0.486455
lose    0.283042
draw    0.230504
Name: reault_home, dtype: float64

In [22]:
x=np.array(x)

In [23]:
x

array([21009, 12224,  9955])

In [25]:
x.sum()

43188

In [27]:
df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,reault_home
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,draw
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,win
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,win
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,draw
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,win

In [33]:
df_noneutral=df[df['neutral']==False]

In [34]:
df_noneutral.shape

(32481, 10)

In [38]:
x=df_noneutral['reault_home'].value_counts()

In [39]:
x

win     16403
lose     8565
draw     7513
Name: reault_home, dtype: int64

In [40]:
x=df_noneutral['reault_home'].value_counts(normalize=True)

In [41]:
x

win     0.505003
lose    0.263693
draw    0.231304
Name: reault_home, dtype: float64

In [52]:
df_noneutralegy=df_noneutral[df_noneutral['country']=='Egypt']

In [53]:
df_noneutralegy

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,reault_home
1463,2/19/32,Egypt,Hungary,0,0,Friendly,Cairo,Egypt,False,draw
1661,3/16/34,Egypt,Israel,7,1,FIFA World Cup qualification,Cairo,Egypt,False,win
1895,6/19/36,Egypt,Greece,3,1,Friendly,Cairo,Egypt,False,win
2927,12/24/48,Egypt,Norway,1,1,Friendly,Cairo,Egypt,False,draw
3080,2/17/50,Egypt,Greece,2,0,Friendly,Cairo,Egypt,False,win
...,...,...,...,...,...,...,...,...,...,...
42165,3/29/21,Egypt,Comoros,4,0,African Cup of Nations qualification,Cairo,Egypt,False,win
42590,9/1/21,Egypt,Angola,1,0,FIFA World Cup qualification,Cairo,Egypt,False,win
42758,9/30/21,Egypt,Liberia,2,0,Friendly,Alexandria,Egypt,False,win
42812,10/8/21,Egypt,Libya,1,0,FIFA World Cup qualification,Alexandria,Egypt,False,win
43040,11/16/21,Egypt,Gabon,2,1,FIFA World Cup qualification,Alexandria,Egypt,False,win